.mod_list{padding:20px 0 0 30px;border: 1px solid #e0e5ef;background-color: #FFF;margin-bottom: 10px;zoom: 1;position: relative;min-height: 78px;_height: 78px;}
.imglist_b{overflow: hidden;zoom: 1;display:block;margin-left: auto;margin-right: auto;}
.imglist_b li{ width: 83px; margin: 0 3px; text-align: center;overflow: hidden;text-overflow:ellipsis;float: left;display:inline;}
.imglist_b li a{display:block;margin: 0 auto 3px;}
.imglist_b li img{width: 48px;height: 48px;display:block;margin: 0 auto 1px;}

.pag{line-height: 38px;height: 38px;border: 1px solid #e0e5ef;background-color: #f1f4f7;font-size: 14px;position: relative;z-index: 100;}
.pag .toc{width: 93px;float: left;text-align: center;margin-right: 10px;}
.pag .current{background-color: #FFF;color:#2c90dc;border-width: 0 1px 1px 1px; border-style: solid;border-color: #fff #e0e5ef;position: relative;bottom: -1px;z-index: 9;}
.pag a.current:hover{color:#f60}

.select_tip{width: 108px;margin: 1px;position: absolute;right: -1px;top: -1px;z-index: 99;height: 38px;overflow: hidden;}
.select_tip_hover{background-color: #FFF;border: 1px solid #e0e5ef;margin: 0;height: auto;}
.select_tip .i_arrow{width: 0;height: 0;border-width: 4px;border-style: solid dashed dashed dashed;border-color: #2c90dc transparent transparent transparent;margin-left: 10px;overflow: hidden;}
.select_tip_hover .i_arrow{border-top-color: #fff;}
.select_tip a{padding:7px 0 7px 24px;display:block;height: 16px;line-height: 16px;margin: 0 -1px;color:#333;}
.select_tip a.first{padding: 11px 0 11px 24px;}
.select_tip a:hover{background-color: #3c96f2;color:#fff;}


.imglist_c{overflow: hidden;zoom: 1;display:block;margin-left: 20px;margin-right: 20px;}
.imglist_c li{ width: 100%; overflow: hidden;text-overflow:ellipsis;margin-top: -1px;border-top: 1px dashed #f5f5f5;position: relative;color:#666;padding: 15px 0;line-height: 22px;}
.imglist_c li a{display:block;color:#666;}
.imglist_c li img{width: 48px;height: 48px;margin: 0 22px 0 4px;float: left;display:inline;}
.imglist_c li .desc{display:block;margin-left: 80px;}
.imglist_c li .tit{color:#333;padding-bottom: 10px;}
.imglist_c li .star{margin: -4px 5px 0 10px;}
.imglist_c li a .f14{color:#333;font-weight: bold;}
.imglist_c li a:hover .f14{color:#2a90db}
.imglist_c li .txt{display:block;height: 20px;margin-right: 110px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.imglist_c li .btn-b{position: absolute;right: 0;top: 15px;color:#fff;}

.th_result{padding: 0 20px;border: 1px solid #e0e5ef;background-color: #f1f4f7;font-size:14px;line-height: 38px;}
